<h2 class="text-center mt-2">All trip reports</h2>
<!-- Filter buttons for a)last week -->
<div class="card-climb">
  <ul class="card-TR">
    <% @trip_reports.each do |report| %>
    <li>
      <h4><%= report.user.first_name %> <%= report.user.last_name %> climbed <%= link_to report.climb.name, climb_path(report.climb) %> on <%= report.date.strftime("%a %b %d, %y") %>:
      </h4>
      <p><i>Climb is: <%= report.climb.status %></i></p>
      <p><%= report.content %></p>
    </li>
    <% end %>
  </ul>
</div>
