<div class="container">
<h2>Add new trip report here:</h2>
  <%= simple_form_for [@climb, @trip_report] do |f| %>
    <%= f.input :content, placeholder: "great climb here" %>
    <%= f.input :date %>
    <%= f.input :user, as: :hidden, default: current_user %>
    <%#= f.input :photos, as: :file, multiple: true  %>
    <%= f.file_field :photos, :multiple => true %>
    <%#= f.input :photo_cache, as: :hidden %>
    <%= f.submit "Post a trip report", class:"btn btn-primary" %>
  <% end %>
</div>
