<div class="card-TR">
  <ul>
    <h1><%= @climb.name %></h1>
    <div class="climb-properties">
      <h3><%= @climb.grade %></h3>
      <h3><%= @climb.approach %></h3>
      <h3><%= @climb.avi %></h3>
    </div>
    <h3>Climb status: <%= @climb.status %></h3>
    <p>Description:</p>
      <br>
    <p><%= @climb.description %></p>
  <div class="bg-light shadow">
  <% @climb.trip_reports.each do |report| %>
    <li><%= report.date.strftime("%A %b %d, %Y") %> by <%= report.user.first_name %> <%= report.user.last_name %>
      <% if report.user == current_user %>
        <%= link_to "(delete)", trip_report_path(report), method: 'delete', data: { confirm: "Are you sure?" }  %>
      <% end %>
    </li>
    <li><%= report.content %></li>
    <% if report.photo.present? %>
      <%= cl_image_tag(report.photo) %>
    <% end %>
  <% end %>
  </ul>
</div>
