<div class="card-TR">
  <ul>
    <h1><%= @climb.name %></h1>
    <div class="climb-properties">
      <h3><%= @climb.grade %></h3>
      <h3><%= @climb.approach %></h3>
      <h3><%= @climb.avi %></h3>
    </div>
    <h3>Climb status: <%= @climb.status %></h3>
    <p>Description:</p>
      <br>
    <p><%= @climb.description %></p>
  </ul>
  <ul>
  <% @climb.trip_reports.each do |report| %>
    <li><%= report.content %><br> </li>
    <li><%= report.date %></li><br>
    <%= cl_image_tag report.photo if report.photo%>
      <!-- , height: 300, width: 400, crop: :fill  -->
    <li> by: <%= report.user.first_name %><%= report.user.last_name %><%= link_to "delete", trip_report_path(report), method: 'delete', data: { confirm: "Are you sure?" }  %></li>
  <% end %>
  </ul>
</div>
