<div class="container-navbar-desktop">
  <div class="d-flex align-items-center">
    <div class="navbar-logo">
      <%= link_to "CND-ROCKIES-ICE-CONDITIONS", root_path%>
    </div>
    <div class="search-wrapper-desktop">
      <div class="bar">
      <%= form_tag root_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control bar search",
          placeholder: "Search for a climb" %>
      </div>
      <%= button_tag type: "submit", class: "btn search" do %>
      <i class="fas fa-search"></i>
      <% end %>
      <% end %>
    </div>
  </div>


  <div class=navbar-links>
      <ul>
        <li><%= link_to "Trip Reports", trip_reports_path %></li>
        <li><%= link_to "Add New TR", new_trip_report_path %></li>
        <li><%= link_to "Favorites", favorites_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign In", new_user_session_path%></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
