<div class="container-navbar">
  <div class="navbar">
    <div class="home">
      <%= link_to root_path do %>
    <i class="fas fa-home"></i>
      <% end %>
    </div>
    <div class="all-TR">
      <%= link_to trip_reports_path do %>
        <i class="fas fa-file-contract"></i>
      <% end %>
    </div>
    <div class="add-TR">
      <%= link_to new_trip_report_path do  %>
        <i class="fas fa-plus"></i>
      <% end %>
    </div>
    <div class="add-TR">
      <%= link_to favorites_path do %>
        <i class="fas fa-star"></i>
      <% end %>
    </div>
    <div class="settings">
      <% if user_signed_in? %>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fas fa-user-minus"></i>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path do %>
          <i class="fas fa-user-plus"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

